flask
gunicorn
flask-cors
torch
torchvision
transformers
huggingface-hub
numpy
pandas
python-dateutil
pillow
opencv-python
requests
click
jinja2
markupsafe
itsdangerous
werkzeug
idna
urllib3
charset-normalizer
pyyaml
tqdm