blinker
charset-normalizer
click
colorama
contourpy
cycler
filelock
flask
flask-cors
fonttools
fsspec
huggingface-hub
idna
itsdangerous
jinja2
joblib
kiwisolver
markupsafe
matplotlib
mpmath
networkx
numpy
numpy-typing-compat
opencv-python
packaging
pandas
pillow
pip
pyparsing
python-dateutil
pyyaml
regex
requests
safetensors
scikit-learn
scipy
scipy-stubs
setuptools
six
sympy
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing-extensions
tzdata
urllib3
werkzeug
